.welcome_page_container{     
    display: block;   
    background-color: #cfcfcf;
    padding: 10% 0 15%;
}

.inner_container{
    Width: 100%;
    height: 500px;    
    padding: 20px 22%;
}
.inner_container .wrapper {
    float: left;
    width: 450px;
}

.inner_container .wrapper .logo_container{
    height: 75px;        
}
  
.inner_container .wrapper .logo_container h1{    
    color:#747dff;
    height: 100%;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 72px;
    font-weight: 900;    
    width:450px;
}

.inner_container .wrapper .tag_container{
    height: 40px;        
}

.inner_container .wrapper .tag_container h1{
    color:black;
    height: 100%;
    display: block;    
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 200;
    width:100%;
}

.inner_container .login_container{
    float: right; 
    
}

.inner_container .login_container .bubble{
    height: 400px;
    width: 400px;
    background-color: rgb(102, 117, 255);
    border-radius: 50%;
    display: inline-block;
}

.inner_container .login_container .business_account{
    color:black;
    height: 100%;
    display: block;   
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 100;
    width: 400px;
    margin: 0 25%;    
}

#login{
    margin-top: 50px;
}

#login .container #login-row #login-column #login-box{  
  border-radius: 10%;
  max-width: 600px;
  height: 250px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
  padding-top: -50px;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 0;
}

#register-link {
  margin-top: -10px;
  color:black;   
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 100;  
}